[simulation parameters]
description = two component carbonate problem, unit activity coefficients
verbosity = verbose
comparison_model = pflotran

database_type = simple
database_file = input/carbonate.bgd
activity_model = unit
porosity = 0.5
saturation = 1.0
volume = 1.0
delta_time = 0
num_time_steps = 0
output_interval = 0

# all component values must be in the same order as the database file
[total]
H+ = 1.0e-3
HCO3 = 1.0e-3




