[simulation parameters]
description = ion exchange reaction
verbosity = verbose
comparison_model = pflotran

database_type = simple
database_file = input/ion-exchange-valocchi.bgd
activity_model = unit
porosity = 0.25
saturation = 1.0
volume = 1.0
delta_time = 86400.0
num_time_steps = 10
output_interval = 1

# all component values must be in the same order as the database file
# pflotran constraint preprocessing :
#       input : ion-exchange-valocchi.in

# Constraint: inlet

[total]
Na+ =  9.4000000000000004E-03
Ca++ =  5.0000000000000001E-04
Mg++ =  2.1299999999999999E-03
Cl- =  1.4659999999999999E-02

[mineral]
Halite =  1.0000000000000000E-05

[total_sorbed]
Na+ =  5.642403E+01
Ca++ =  4.055578E+01
Mg++ =  3.062322E+02
Cl- =  0.000000E+00

[ion_exchange]
X- =  7.500000E+02
