[simulation parameters]
description = Five component radioactive decay chain
verbosity = verbose
comparison_model = pflotran
text_output = true
text_time_units = d

database_type = simple
database_file = input/sorption-isotherms.bgd
activity_model = unit
porosity = 0.25
saturation = 1.0
volume = 1.0
delta_time = 86400.0
num_time_steps = 500.0
output_interval = 5

# all component values must be in the same order as the database file
[total]
A = 1.0e-4
B = 1.0e-4
C = 1.0e-4

[total_sorbed]
A = 1.0e-4
B = 1.0e-4
C = 1.0e-4
