[simulation parameters]
description = surface complexation test problem
verbosity = verbose
comparison_model = pflotran

database_type = simple
database_file = input/surface-complexation-1.bgd
activity_model = debye-huckel
porosity = 0.9
saturation = 1.0
volume = 1.0
delta_time = 3600.0
num_time_steps = 10
output_interval = 1

# all component values must be in the same order as the database file
# pflotran constraint preprocessing :
#       input : surface-complexation-1.in

# Constraint: initial

[total]
H+ =  1.1973159693031387E-05
Na+ =  9.9987826840306965E-02
NO3- =  1.0000000000000001E-01
Zn++ =  9.9999999999999995E-08

[total_sorbed]
H+ =  7.585367E+04
Na+ =  0.000000E+00
NO3- =  0.000000E+00
Zn++ =  9.695984E-03

