[simulation parameters]
description = calcite TST kinetics with monthly time steps
verbosity = verbose
comparison_model = pflotran
text_output = yes

database_type = simple
database_file = input/calcite.bgd
activity_model = debye-huckel
porosity = 0.5
saturation = 1.0
volume = 1.0
# 2592000.0 seconds = 30 days
delta_time = 2592000.0
num_time_steps = 60
output_interval = 1

# all component values must be in the same order as the database file
[total]
H+ = 1.0e-2
HCO3- = 1.0e-2
Ca++ = 1.0e-19

[mineral]
Calcite = 0.2

