[simulation parameters]
description = ion exchange reaction
verbosity = verbose
comparison_model = pflotran

database_type = simple
database_file = input/ion-exchange-valocchi.bgd
activity_model = unit
porosity = 0.25
saturation = 1.0
volume = 1.0
delta_time = 86400.0
num_time_steps = 10
output_interval = 1

# all component values must be in the same order as the database file
# pflotran constraint preprocessing :
#       input : ion-exchange-valocchi.in

# Constraint: initial

[total]
Na+ =  8.6499999999999994E-02
Ca++ =  1.8200000000000001E-02
Mg++ =  1.1100000000000000E-02
Cl- =  1.4510000000000001E-01

[mineral]
Halite =  1.0000000000000001E-05

[total_sorbed]
Na+ =  1.607889E+02
Ca++ =  1.415668E+02
Mg++ =  1.530388E+02
Cl- =  0.000000E+00

[ion_exchange]
X- =  7.500000E+02
