[simulation parameters]
description = "Waste tank demo test chemistry"

verbosity = verbose
comparison_model = pflotran

database_type = simple
database_file = input/radioactive-decay-sorbed-tiny.bgd
activity_model = unit
porosity = 1.0
saturation = 1.0
volume = 1.0
# dt = 10 days
delta_time = 8.64000e4
#delta_time = 8.64000e-20
#delta_time = 315576.0
#num_time_steps = 2
num_time_steps = 2000
output_interval = 50
tolerance = 1.0e-8
max_iterations = 250
text_output = true
text_time_units = y

# pflotran constraint preprocessing :
#       input : ABC_decay_linear_sorption.in

# Constraint: inlet

[total]
C(aq) =  1.0e-20

[total_sorbed]
C(aq) =  1.0e-20

