[simulation parameters]
description = ABC radioactive decay chain on aqueous species
verbosity = verbose
comparison_model = pflotran
text_output = true
text_time_units = d

database_type = simple
database_file = input/radioactive-decay-aqueous.bgd
activity_model = unit
porosity = 0.25
saturation = 1.0
volume = 1.0
delta_time = 864.0
num_time_steps = 500
output_interval = 10
max_iterations = 500

# all component values must be in the same order as the database file

[total]
A = 1.0e-01
B = 1.0e-20
C = 1.0e-20
D = 1.0e-01
#C = 1.0e-20