[simulation parameters]
description = Amanzi 2010 Demo, 5 component UO2 'source' condition
verbosity = verbose
comparison_model = pflotran

database_type = simple
database_file = input/uo2-5-component.bgd
activity_model = debye-huckel
porosity = 0.5
saturation = 1.0
volume = 1.0
# 2592000.0 seconds = 30 days
delta_time = 2592000.0
num_time_steps = 12
output_interval = 1

# all component values must be in the same order as the database file
[total]
Al+++ = 2.8909E-05
H+ = 1.2786E-03
HPO4-- = 7.1028E-05
SiO2(aq) = 2.5280E-04
UO2++ = 3.5414E-05

[mineral]
Kaolinite = 0.15
Quartz = 0.21
(UO2)3(PO4)2.4H2O = 0.0

[total_sorbed]
Al+++ = 0.0
H+ = 0.0
HPO4-- = 0.0
SiO2(aq) = 0.0
UO2++ = 0.0

[free_ion]
Al+++ = 5.2970E-16
H+ = 3.2759E-08
HPO4-- = 9.9886E-07
SiO2(aq) = 1.8703E-04
UO2++ = 1.7609E-20

[site_density]
>FeOH = 5.3600E-03
>AlOH = 4.3600E-03
>SiOH = 3.3600E-03

[specific_surface_area]
Kaolinite = 1.1
Quartz = 1.2
(UO2)3(PO4)2.4H2O = 1.3


