[simulation parameters]
description = Amanzi 2010 Demo, 5 component UO2 'initial' condition
verbosity = verbose
comparison_model = pflotran

database_type = simple
database_file = input/uo2-5-component.bgd
activity_model = debye-huckel
porosity = 0.5
saturation = 1.0
volume = 1.0
# 2592000.0 seconds = 30 days
delta_time = 2592000.0
num_time_steps = 12
output_interval = 1

# all component values must be in the same order as the database file
[total]
Al+++ = 6.1426E-09
H+ = 2.2923e-08
HPO4-- = 1.0000E-06
SiO2(aq) = 1.8703E-04
UO2++ = 1.0000E-15

[mineral]
Kaolinite = 0.15
Quartz = 0.21
(UO2)3(PO4)2.4H2O = 0.0

[total_sorbed]
Al+++ = 0.0
H+ = 0.0
HPO4-- = 0.0
SiO2(aq) = 0.0
UO2++ = 0.0

[free_ion]
Al+++ = 5.2970E-16
H+ = 3.2759E-08
HPO4-- = 9.9886E-07
SiO2(aq) = 1.8703E-04
UO2++ = 1.7609E-20



