name: Amanzi CI

on:
  push:
    tags-ignore:
      - amanzi-*

jobs:
  build_test:
    runs-on: ubuntu-latest
    name: Build and test with Docker
    steps:
    - name: Check out the Amanzi repo
      uses: actions/checkout@v2
    - name: Extract the branch name
      id: branch
      run:
        echo "::set-output name=AMANZI_BRANCH::$(echo $GITHUB_REF | sed -e 's/refs\/heads\///')"
    - name: Filter the branch name to generate a tag for Docker
      id: tag
      run:
        echo "::set-output name=AMANZI_BRANCH_TAG::$(echo ${{steps.branch.outputs.AMANZI_BRANCH}} | sed -e 's/\//-/g')"
    - name: Output the branch name
      run:
        echo "Amanzi Branch = ${{steps.branch.outputs.AMANZI_BRANCH}}"
    - name: Get TPLs version
      id: version 
      working-directory: Docker
      run:
        echo "::set-output name=AMANZI_TPLS_VER::$(./get_tpls_version.sh)"
    - name: Output the TPLs version
      run:
        echo "TPLs version = ${{steps.version.outputs.AMANZI_TPLS_VER}}"
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{secrets.DOCKERHUB_USERNAME}}
        password: ${{secrets.DOCKERHUB_PASSWORD}}
    - name: Docker build
      id: docker
      working-directory: Docker
      run:
        docker build --build-arg amanzi_branch=${{steps.branch.outputs.AMANZI_BRANCH}} --build-arg amanzi_tpls_ver=${{steps.version.outputs.AMANZI_TPLS_VER}} -t metsi/amanzi:${{steps.tag.outputs.AMANZI_BRANCH_TAG}}-latest -f Dockerfile-Amanzi-build .
    - name: Docker push
      working-directory: Docker
      run:
        docker push ${{secrets.DOCKERHUB_USERNAME}}/amanzi:${{steps.tag.outputs.AMANZI_BRANCH_TAG}}-latest
    - name: Run tests
      id: tests
      working-directory: Docker
      run:
        docker run --rm ${{secrets.DOCKERHUB_USERNAME}}/amanzi:${{steps.tag.outputs.AMANZI_BRANCH_TAG}}-latest /bin/bash -c "cd ~/amanzi_builddir/amanzi; ctest"
