name: ATS CI

on: [push]

jobs:
  build_test:
    runs-on: ubuntu-latest
    name: Build and test with Docker
    steps:
    - name: Check out the Amanzi repo
      uses: actions/checkout@v2
      with:
        repository: amanzi/amanzi
        submodules: true
    - name: Extract the branch name
      id: branch
      working-directory: Docker
      run: echo "::set-output name=ATS_BRANCH::$(echo $GITHUB_REF | sed -e 's/refs\/heads\///')"
    - name: Output the branch name
      run: echo "Branch or Tag reference = ${{steps.branch.outputs.ATS_BRANCH}}"
    - name: Get TPLs version
      id: version 
      working-directory: Docker
      run: echo "::set-output name=AMANZI_TPLS_VER::$(./get_tpls_version.sh)"
    - name: Output the TPLs version
      run: echo "TPLs version = ${{steps.version.outputs.AMANZI_TPLS_VER}}"
    - name: Docker build
      id: docker
      working-directory: Docker
      run: docker build --build-arg ats_branch=${{steps.branch.outputs.ATS_BRANCH}} --build-arg amanzi_tpls_ver=${{steps.version.outputs.AMANZI_TPLS_VER}} -t metsi/amanzi:latest -f Dockerfile-ATS .      
